* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;;
}

.contenitore {
    width: 90%;
    height: 80px;
    line-height: 40px;
    margin: 0 auto;
}


.menu {
    padding-top: 1%; 
    
}

.menu img {
    vertical-align: middle;
    padding-bottom: 1%;
   
}


.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

.menu-dx {
    float: right;
    
}

.menu-sx {
    float: left;
}

.menu-sx a {
    padding-left: 50px;
    
}

.menu-dx a {
    padding-right: 50px;
}
    
#bottone {
    background-color: rgb(45, 103,238);
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}

.contenitor-2 {
    width: 100%;
    
}

.blue {
    background-color: lightsteelblue;
    width: 100%;
    height: 80vh;
}

.titolo {
    text-align: center;
    font-size: 29px;
    padding-top: 5%;
}


.info {
    float: left;
    width: 25%;
    padding-top: 6%;
    margin-left: 14%;
    font-size: 22px;
}


.inizio {
    margin-top: 10%;

}

.inizio p {
    margin-top: 5%;

}

.fas {
    font-size: 50px;
    padding-top: 5%;
}

#jumbo img {
    max-width: 50%;
    float: right;
    position: relative;
    bottom: -60px;
    padding-top: 3%;
    margin-right: 7%;
}

.contenitore-plan {
    width: 60%;
    margin: 0 auto;
    height: 380vh;
}

#titolo-plan {
    margin-top: 15%;
    text-align: left;
    font-size: 35px;
}

#fat-botton {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 5px solid rgb(65, 77, 240);
    border-radius: 20px;
    vertical-align: middle;
}
.spa {
    padding-right: 2%;
}
.fat {
    margin: 2% 0;
}

.colonna {
    display: inline-block;
    width: 30%;
    height: 899px;
    border: 1px solid rgba(0, 0, 0, 0.36);
}

.testa {
    border-bottom:1px solid rgba(0, 0, 0, 0.36);
    text-align: center;
    padding: 2% 0;
}

.colonna .fas {
    font-size: 20px;
    padding: 0;
}

.margin {
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.margin #bottone1 {
    display: inline-block;
    margin-top: 10%;
    padding: 5px 30px;
    text-align: center;
}

.margin p {
    margin: 5% 0;
}

#profe {
    margin-bottom: 20%;
}

#profe h3 {
    font-size: 30px;
}

.mese {
    color: grey;
}

.stic {
    margin-top: 5%;
}

.acquista-ora {
    margin-top: 5%;
}

.acquista-ora * {
    display: inline-block;
}

#border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.36);
    padding-bottom: 10%;
}

#tx-blue {
    color: blue;
}

.punti {
    margin-top: 15%;
}

.check {
    margin-top: 5%;
}

.check .fas {
    color: rgb(75, 122, 255);
}

.end-table {
    margin-top: 3%;
    width: 96.8%;
    border: 1px solid rgba(0, 0, 0, 0.37);
    height: 250px;
}

.end-table-margin {
    margin-left: 3.3%;
}

.end-table-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    height: 20%;
    line-height: 45px;
}

.enterprise #bottone {
    float: right;
    margin-right: 2%;
}

.enterprise {
    margin-top: 2%;
    margin-left: 1%;
}

.enterprise p {
    margin-top: 2%;
}

.enter-end {
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.end-table .fas {
    font-size: 20px;
    padding: 0;
}

.trova {
    width: 90.8%;
    height: 500px;
    margin-top: 10%;
}

.partner {
    width: 100%;
    margin: 0 0 ;
}

.partner img {
    width: 55%;

}

.part-contr {
    float: right;
    width: 40%;
}

.part-contr h2 {
    margin-bottom: 10%;
}

#bottone-white {
    display: inline-block;
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 10%;
}


.more-opt {
    width: 100%;
    height: 500px;
    margin-top: 8%;    
}

.more-opt h2 {
    font-size: 30px;
}

.opt {
    display:inline-block; 
    width: 25%;
    margin-top: 5%;
    margin-right: 5%;
}
.opt img {
    width: 100%;
}

.opt h3 {
    margin-bottom: 8%;
}

.team {
    width: 40%;
    margin-top: 20%;
    
}

.team h2 {
    font-size: 30px;
}

.team p{
    margin-top: 5%;

}

.cont-team {
    width: 100%;
    height: 53vh;
}

#gruppo { 
    float: left;
}

.team-logo {
    width:50% ;
    margin-top: 50%;
    margin-left:50%; 
    filter: invert(1);
    transform: translate(-50%, -50%);
}

.team-green {
    background-color:rgb(50, 190, 143) ;
    width: 250px;
    height: 250px;
    
}

.team-azzuro {
    background-color:rgb(50, 157, 190) ;
    width: 250px;
    height: 250px;
    
}

.team-marrone {
    background-color:rgb(109, 6, 6) ;
    width: 250px;
    height: 250px;
}

.team-red {
    background-color:rgb(235, 30, 30) ;
    width: 250px;
    height: 250px;
}

.team-white {
    background-color:rgb(185, 180, 180);
    width: 900px;
    height: 500px;
    
}

.border-logo {
    width: 10%;
    border-top: 1px solid gray;
}

.center-logo {
    width: 20%;
    padding-bottom: 5%;
}

.margin-center {
    width: 80%;
    padding: 7%;
}

.margin-center p {
    padding-top: 7%;

}


.team-redb {
    background-color:rgb(194, 35, 35) ;
    width: 250px;
    height: 250px;
}

.team-blu {
    background-color:rgb(35, 46, 194) ;
    width: 250px;
    height: 250px;
}

.team-blul {
    background-color: lightsteelblue; 
    width: 250px;
    height: 250px;
}

.team-yellow {
    background-color: rgb(255, 217, 0); 
    width: 250px;
    height: 250px;
}

.team-end {
    width: 100%;
    height: 500px;
    background-color: lightsteelblue; 
}

.titolo-end-team {
    width: 80%;
    color: rgb(138, 6, 6);
    padding-top: 10%;
}

.titolo-end-team h1 {
    float: left;
    width: 30%;
    font-size: 40px;
    margin-left: 25%; 
    
}

#bottone-white-team {
    float: right;
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    padding: 5px 40px;
    text-decoration: none;
    margin-right: 5%; 
}

.cont-domand {
    width: 60%;
    height: 500px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.domand .fas {
    float: right;
    font-size: 20px;
    padding: 0;
}

.cont-domand h1 {
    margin-top: 10%;
    margin-bottom: 5%;
}

.domand {
    border-bottom: 1px solid gray;
    padding:30px 0;
}

.inizio {
    border-top: 1px solid gray; 
}

